
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.4
    command: start --spi-theme--static-max-age=-1 --spi-theme--cache-themes=false --spi-theme--cache-templates=false --spi-theme--welcome-theme=myRealm

    mem_limit: 4g
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./themes:/opt/keycloak/themes
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - web
      - db_net

  postgres:
    image: postgres:17
    mem_limit: 2g
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/17/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-keycloak}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - db_net

volumes:
  postgres_data:

networks:
  web:
    external: true
  db_net:
    external: true
